div{
  text-align: center;
  background-color: black;
}

ul{
  text-align: center;
  background-color: red;
  margin-top: 0px;
}

li{
  display: inline-block;
  margin-right: 5em;
}

a{
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  color: black;
}

h1{
  text-align: center;
}


